@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  /* TYPOGRAPHY */
  --FF-type1: "Young Serif", serif;
  --FF-type2: "Outfit", sans-serif; /*Font Family*/

  /*Font Weight*/
  --FW-light: 400;
  --FW-normal: 600;
  --FW-bold: 700;

  --FS-normal: 1rem; /*Font Size*/

  /* COLORS */
  --Primary-Nutmeg: hsl(14, 45%, 36%);
  --PrimaryDarkRaspberry: hsl(332, 51%, 32%);

  --Neutral-White: hsl(0, 0%, 100%);
  --Neutral-RoseWhite: hsl(330, 100%, 98%);
  --Neutral-Eggshell: hsl(30, 54%, 90%);
  --Neutral-LightGrey: hsl(30, 18%, 87%);
  --Neutral-WengeBrown: hsl(30, 10%, 34%);
  --Neutral-DarkCharcoal: hsl(24, 5%, 18%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Neutral-Eggshell);
}

header {
  display: flex;
  flex-direction: column-reverse;
}

article,
table {
  margin-top: calc(1em + 2.5vw);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: var(--FW-light);
  color: var(--Neutral-DarkCharcoal);
  font-family: var(--FF-type1, serif);
  font-size: calc(1.5rem + 1.5vw);
  margin-top: 0.5em;
}
h2 {
  font-family: var(--FF-type1, serif);
  font-weight: var(--FW-light);
  font-size: calc(1.2rem + 1vw);
  color: var(--Primary-Nutmeg);
  letter-spacing: 1.5px;
  margin-bottom: 0.4em;
}

p {
  font-weight: var(--FW-light);
  font-size: calc(0.5rem + 0.9vw);
  color: var(--Neutral-WengeBrown);
  font-family: var(--FF-type2, sans-serif);
  margin-top: 0.8em;
  line-height: 1.4;
}

ul,
ol {
  margin-left: 2em;
  font-weight: var(--FW-light);
  color: var(--Neutral-WengeBrown);
  font-family: var(--FF-type2, sans-serif);
  font-size: calc(0.5rem + 0.9vw);
}
ul strong {
  font-weight: var(--FW-bold);
}
li {
  margin-bottom: 0.6em;
  padding-left: 0.6em;
}

.container {
  background-color: var(--Neutral-White);
  max-width: 60em;
  margin-inline: auto;
  padding: calc(1em + 1vw);
}
.prep-time {
  margin-left: calc(0.7em + 1vw);
  margin-top: 1.5em;
}
.prep-time h2 {
  font-family: var(--FF-type2, sans-serif);
  font-weight: var(--FW-normal);
  color: var(--PrimaryDarkRaspberry);
  margin-bottom: 0.4em;
}
.instructions li {
  line-height: 1.4;
}

table {
  max-width: 100%;
  border-collapse: collapse;
}
caption {
  text-align: left;
  font-family: var(--FF-type1, serif);
  font-weight: var(--FW-light);
  color: var(--Primary-Nutmeg);
  font-size: calc(1rem + 1vw);
}
th,
td {
  font-weight: var(--FW-light);
  color: var(--Neutral-WengeBrown);
  font-family: var(--FF-type2, sans-serif);
  font-size: calc(0.5rem + 0.9vw);
}
th {
  line-height: 1.5;
  text-align: left;
  padding-block: 0.6em;
}
td {
  padding: 0.7em 2em;
  text-align: left;
  border-bottom: 1px solid var(--Neutral-LightGrey);
}
tr td:last-of-type {
  font-weight: var(--FW-normal);
  color: var(--Primary-Nutmeg);
}

.attribution {
  font-family: var(--FF-type1, serif);
  font-size: calc(0.5em + 1vw);
  text-align: center;
  margin-top: 2em;
}
.attribution a:link {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
.attribution a:visited {
  color: var(--PrimaryDarkRaspberry);
}
.attribution a:hover {
  color: var(--Primary-Nutmeg);
  text-decoration: underline;
}
.attribution a:active {
  color: olivedrab;
}
